<h1> Welcome, <%= @current_user.email %>
 
 <ul>
  <li>
   <a href="/products">Products</a>
  </li>
  <li>
    <a href="/threepls">3PL's</a>
  </li>
  <li>
    <a href="/threepl_recs">3PL Recommendation Details</a>
  </li>

</ul>